.form-floating.mb-3.Input{
    display: block;
    margin: auto;
    /* margin-top: 500px; */
    text-align: center;
    /* width: 25%; */
    border-radius: 100px;
}

.navbar{
    background-color: #b31a28;
}

.navbar-somaiya{
    margin: auto;
    padding: 2rem;
}
.btn-primary{
    background-color: #b31a28;
    border-color: #b31a28;
}

.btn{
    margin: auto;
    display: block;
}

.output{
    display: block;
    margin: auto;
    text-align: center;
    width: 25%;
}
/* .nav ul{
    display: flex;

} */
/* .unitd{
    padding: 100px;
} */

.formula-sheet{
    float: left;
}
.formula-sheet{
    height:400px;
    width: 400px;
    margin-left: 100px;
    margin-right: auto;
}

.variable{
    margin-left: 5%;
    display: inline-block;
    font-size: 4mm;
}

.h2{
    margin-top: 5%;
    text-align: center;
}

.head{
    font-size: 8mm;
}

.plate-img{
    height: 300px;
    width: 550px;
    margin-right: 5%;
    float: right;
}

.navbar-nav{
display: flex;
color: aliceblue;
}

.nav-item{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
 /* color-text: rgb(255, 255, 255); */
}

.img-somaiya{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.head{
    margin-left: 100px;
}

.form-control{
margin: auto;
}